body {
  margin: 30px;
  background-color: #fff;
  color: #444;
  font: 2em Sansita, sans-serif;
  
}

div,
span {
  box-sizing: border-box;
  position: relative;
  border: 0 solid black;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  flex: 1 0 0;
  
}



ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-gap: 20px;
  border: 5px solid rgb(172, 5, 22);
  border-radius: 5px;
  margin: 10px;
  padding: 10px 20px;
  background-color: rgb(116, 112, 113);
  color: #fff;
  list-style: none;
  font-size: 20px
}
